.single-product , .product-img {
    position: relative;
  }
  .product-action {
    display: inline-block;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .product-action > a {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #474747;
    display: inline-block;
    font-size: 27px;
    height: 45px;
    margin: 0 3px;
    text-align: center;
    width: 45px;
  }
  .product-action > a:hover {
    color: #fff;
    background-color: #ee3333;
  }
  
  .product-action > a i {
    font-size: 27px;
    line-height: 45px;
  }
  .product-title-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-title > h4 {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .product-title > h4 a {
    color: #5d5d5d;
  }
  .product-title > h4 a:hover , .product-categori > a:hover {
    color: #ee3333;
  }
  .product-price > span {
    color: #ee3333;
    font-weight: 600;
  }
  .product-content {
    line-height: 1;
    padding-top: 17px;
  }